*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: rgb(40, 0, 73);
}


.logo h4{
    color: rgb(177, 177, 177);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 20px;
}
.nav-links{
    display: flex;
    width: 30%;
    justify-content: space-around;
}
.nav-links a{
    color: white;
    text-decoration: none;
}
.nav-links li{
    list-style: none;
}
li{
    margin: 5px;
}